*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #424249;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

@font-face {
  font-family: 'Orbitron';
  src: url('@/assets/fonts/Orbitron.otf');
}
@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope.ttf');
}

html,
body {
  color: #ffffff;
  background: #01030c;
  text-rendering: optimizeLegibility;
  transition: color 0.5s, background-color 0.5s;
  -webkit-text-size-adjust: none;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type='number'] {
  -moz-appearance: textfield;
}

video {
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

button {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipsis_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.disabled {
  cursor: not-allowed !important;
  filter: grayscale(100%) !important;
  filter: gray !important;
}

.ant-message {
  top: 10vh;
  .ant-message-notice-content {
    .ant-message-custom-content {
      display: flex;
      font-family: Orbitron;
    }
  }
}
.ant-input {
  font-family: Manrope;
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.4);
  &:focus {
    border-color: #0000ff;
  }
}
.ant-btn {
  font-family: Orbitron;
}

.ant-notification-notice .ant-notification-notice-with-icon {
  .ant-notification-notice-message {
    font-family: Orbitron;
  }
  .ant-notification-notice-description {
    font-family: Manrope;
  }
}

@media screen and (max-width: 750px) {
}
